

option[save="1"]{
    font-weight: 900;
    font-size: 1em;
    color: black;
}
option[save="0"] {
    /* font-size: 0.5em; */
    color: lightgrey;
}
option[save="0"]:hover{
    font-size: 1em;
    color: black;
}

/* overlay */
.shs-overlaymenu, .shs-overlaymenu-placeholder {
    bottom: 0;
    display: block;
    height: 256px;
    left: 0;
    position: static;
    width: 100%;
}
.shs-overlaymenu {
    bottom: 0;
    display: block;
    height: 256px;
    left: 0;
    position: fixed;
    width: 100%;
}
.shs-overlaymenu[collapsed="true"] {
    height: 24px;
}
@media print {
    .shs-overlaymenu, .shs-overlaymenu-placeholder {
        display: none;
    }
}

/* tabs */
.shs-tabs {
    clear: both;
    display: block;
    margin-bottom: -2px;
    padding-left: 4px;
}
.shs-tab {
    display: inline-block;
    background: none repeat scroll 0 0 #DEE5F2;
    border: 2px solid #333333;
    border-bottom: 1px solid #AAAAAA;
    border-radius: 4px 4px 0px 0px;
    padding: 4px 6px;
    cursor: pointer;
    vertical-align: bottom;
    margin: 0 0 0 2px;
}
.shs-tab.shs-active {
    border-bottom: none;
}
.shs-tab:hover {
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-left-color: #FFFFFF;
}
.shs-tabzone { 
    background: none repeat scroll 0 0 #DEE5F2;
    border: 2px solid #333333;
    display: block;
    min-height: 250px;
}

/* layout */
.shs-col {
    display: inline-block;
    padding: 1px;
    margin: 1px;
    min-width: 2px;
    vertical-align: top;
}
.shs-col1, .shs-col2, .shs-col3 {
    height: 150px;
}

/* buttons */
.shs-button {
    background: none repeat scroll 0 0 #F9FDFF;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    cursor: pointer;
}
.shs-button:hover {
    border-color: #FFFFFF;
}

/* specifics */
.shs-menuCollapse {
    float: right;
    border-bottom: none;
}
.shs-update {
    font-wieght: 900;
}
.shs-configList {
    height: 212px;
    width: 425px;
    display: block;
}
